/* Center everything to the left by default, pad on both sides by 35px */

* {
    text-align: left;
    padding-right: 35px;
    padding-left: 35px;
}

h1 {
    color: #005effde;
    text-align: center;
    font-family: Impact;
    font-weight: 100;
    /* Was Treduchet */
}

dt,
dd {
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2,
h3 {
    color: #005effde;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    padding-left: 0px;
    color: #005effde;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

h5 {
    text-align: center;
    color: #005effde;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #005effde;
    text-align: center;
    padding: 6px;
    border-radius: 4px;
    border: 3px solid #000000de;
}

p {
    background-color: #005effde;
    color: azure;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hyperlink {
    color: azure;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    padding-inline: 25px;
    text-decoration: none;
    text-transform: uppercase;
}


/* Link hover style */

a.hyperlink:hover {
    color: rgb(255, 251, 0);
    background-color: transparent;
    text-decoration: underline;
}

.ptagcustom {
    padding: 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}


/* Stylize go to top */

.up {
    background-color: #005effde;
    border: none;
    color: white;
    padding: 6px;
    border-radius: 4px;
    border: 3px solid #000000de;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}


/* Stylize go to top hover*/

a.up:hover {
    color: rgb(238, 255, 0);
    text-decoration: underline;
}


/* Stylize buttons */

button {
    background-color: #005effde;
    color: #ffffff;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #000000de;
    display: inline-block;
    font-size: 16px;
}


/* Add boxes and custom font */

dl,
div {
    padding-left: 0px;
    border: 3px solid #000000de;
    border-style: dashed;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}